**/lib


!bin/input.txt
bin/**

**/vTune
*.o
*.a
*.wout
*.aux
*.log
*.tex
*.tex.bak
*.toc
*.win
*.mmn
*.amn
*.dat
*.pdf
*.nb
*.mod
*.exe
*.tar.gz
*.sh
*.exe
*.cmake
*.pl
**/zzz_todo_zzz.txt
**/CMakeFiles


*CMakeCache.txt
*sublimeMake.sh
**thirdparty/Makefile
**/wannier90
**/w90files
**/config_fortran
**/__pycache__
thirdparty/cmake_install.cmake
*Makefile
*.cmake
**/intelAdvi
